<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="19.0" />
  <package id="awscli" version="1.16.111" />
  <package id="azure-cli" version="2.0.58" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-visualstudio.extension" version="1.7.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.3" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="docker-cli" version="18.09.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnet4.6.2" version="4.6.01590.20170129" />
  <package id="dotnetcore-sdk" version="2.2.104" />
  <package id="dropbox" version="67.4.83" />
  <package id="git.install" version="2.20.1" />
  <package id="GoogleChrome" version="72.0.3626.119" />
  <package id="graphviz" version="2.38.0.20171119" />
  <package id="honeyview.install" version="5.31" />
  <package id="jre8" version="8.0.201" />
  <package id="k-litecodecpackfull" version="14.7.5" />
  <package id="KB2533623" version="1.0.3" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.4" />
  <package id="KB3035131" version="1.0.2" />
  <package id="nodejs-lts" version="10.15.1" />
  <package id="sql-server-management-studio" version="14.0.17289.1" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="sysinternals" version="2019.2.19" />
  <package id="thunderbird" version="60.5.1.20190217" />
  <package id="tortoisegit" version="2.7.0.0" />
  <package id="vcredist140" version="14.16.27027.1" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="visualstudio2017-installer" version="1.0.2" />
  <package id="visualstudio2017community" version="15.8.9.0" />
  <package id="vnc-viewer" version="6.19.107.20190123" />
  <package id="vscode" version="1.31.1" />
  <package id="winmerge" version="2.16.0.20190101" />
</packages>